@use "../../config/mixin" as *;
@use "../../config/variable" as *;

.card-food {
	//background-color: salmon;
	@include imageRatio(70, 53, true, cover);
	border: 1px solid $gray-200;
	border-radius: 18px;
	padding: 8px;

	&__title {
		margin-bottom: 4px;
		font-size: 20px;
		font-weight: 700;
	}
	&__weight {
		font-size: 16px;
		color: $gray-400;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__info {
	}
	&__price {
		margin: 0px;
		font-weight: 700;
		font-size: 18px;
		color: $primary;
	}
	&__image-container {
		border-radius: 10px;
		overflow: hidden;
	}
}
