@use "../../config/mixin" as *;
@use "../../config/variable" as *;

.card-food {
	//background-color: salmon;
	@include imageRatio(70, 53, true, cover);
	position: relative;
	border: 1px solid $gray-200;
	border-radius: 16px;
	padding: 8px;
	overflow: hidden;
	transition: 0.4s ease;

	&:hover {
		border-color: $primary;
	}

	&::before {
		content: "";
		position: absolute;
		left: -8px;
		top: 50%;
		transform: translateY(-50%);
		width: 11px;
		height: 50%;
		background-color: $primary;
		border-radius: 10px;
		z-index: 1;
	}

	&__title {
		margin-bottom: 4px;
		font-size: 20px;
		font-weight: 700;
	}
	&__weight {
		margin-bottom: 4px;
		font-size: 16px;
		color: $gray-400;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__info {
	}
	&__price {
		margin: 0px;
		font-weight: 700;
		font-size: 18px;
		color: $primary;
	}
	&__image-container {
		border-radius: 10px;
		overflow: hidden;
	}
}
